body {
  background-color: #be9773;
  font-family: 'AndadaSCRegular';
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#top-bar {
  border-bottom: 5px solid #8c4f50;
}

#board-panel {
  width: 100%;
  position:absolute;
  overflow: scroll;
}

#players-bar {
  /*background-color: gray;*/
}

.player-turn {
  background: #ffc69b !important;
}

.player {  
  background-color: #be9773;
  border-right: 1px solid #8c4f50;
  border-bottom: 1px solid #8c4f50;
}

.player-1 i {
  color: #e41a1c;
}

.player-2 i {
  color: #377eb8;
}

.player-3 i {
  color: #4daf4a;
}

.player-4 i {
  color: #ff7f00;
}

.player-5 i {
  color: #ffff33;
}

.player-6 i {
  color: #a65628;
}

.player-7 i {
  color: #f781bf;
}

.player-8 i {
  color: black;
}